<!doctype html>
<html lang="en">

<head>
	<title> Trang Chủ </title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<div class="container">

		<div class="row">
			<div class="col-md-3">
				<div style="margin-top: 20px"><img src="http://127.0.0.1:5001/static/images/PET.png"></div>
			</div>
			<div class="col-md-6">
				<p>
				<h1 style="color: #0000FF;"><strong>TRUNG TÂM TIN HỌC</strong></h1>
				<div style="font-weight: bold; font-size: 20px; color: #0000FF">Mô hình - Công nghệ - Kỹ thuật</div>
				</p>
			</div>

			<div class="col-md-3">
				{{ ChuoiHTMLThongTinNguoiDung }}

			</div>
		</div>

		<div style="margin: 20px 0">
			<form method="post">
				<div class="input-group">
					<input type="text" placeholder="Nhập giá trị tìm kiếm ..." autocomplete="off" value="{{ TimKiem }}"
						name="TimKiem" class="form-control">
					<div class="input-group-append">
						<button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
					</div>
				</div>
			</form>
		</div>

		<div>
			<a class="btn btn-primary" href="/admin/them-san-pham" role="button"> Thêm sản phẩm </a>
		</div>

		<br>
		{{ Chuoi_KQ }}
		<br>
		{{ ChuoiHTMLDanhSachSanPham }}

	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>
